
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.urgency {
  position: fixed;
  z-index: 9;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 12px;
  text-align: center;
  width: fit-content;
  background-color: red;
  padding: 5px;
  color: white;
  border-radius: 5px;
  bottom: 20px;
}
:root {
  /* Tons de Rosa */
  --rosa-neve: #FFF5F8;
  --rosa-cha: #FCDCE6;
  --rosa-delicado: #F7B6C9;
  --rosa-medio: #EF7A9A;
  --rosa-profundo: #C5456B;
  --rosa-vinho: #8C2A4C;

  /* Cores de contraste */
  --roxo-escuro: #3C2A4D;
  --vinho-queimado: #2E1A1C;
  --cinza-grafite: #4B4B4B;
  --off-white: #FAFAFA;
  --dourado-queimado: #D9A25F;

  /* Outros */
  --branco: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--rosa-vinho);
}

section > div{
  max-width: 920px;
  margin: 0 auto;
}

* {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  text-align: center;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: .2;
}
.container-hero {
  z-index: 1;
  position: relative;
  padding: 3em;
}
.container-hero h1{
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  margin: 0;
  color: var(--rosa-neve);
}
.container-hero h2 {
  font-size: 20px;
  color: var(--rosa-delicado);
  margin-bottom: 1.5em;
}
.but-cta {
  text-decoration: none;
  background-color: #C5456B;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  color: var(--rosa-neve);
}
.container-hero a:last-child {
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 7em;
  border-radius: 100%;
  background-color: var(--rosa-neve);
  color: var(--rosa-vinho);
  border: none;
  outline: none;

  animation: bounced 1s infinite;
}
@keyframes bounced {
  0% {
    transform: translateY(-10px);
  }
  50% {
  transform: translateY(0);
  }
  100%{
  transform: translateY(-10px); 
  }
}

/* JOURNEY */

.journey {
  background-color: var(--branco);
  padding: 3em;
}
.container-journey {
  display: flex;
}
.container-journey figure {
  width: 320px;
  height: 320px;
  background-color: var(--rosa-cha);
  border-radius: 100%;
  margin: 0 auto;
  border: 1px solid var(--rosa-medio);
  box-shadow: 0 10px 10px var(--rosa-cha);
}
.container-journey img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
.left-journey{
  position: relative;
}
.natural-elem {
  position: absolute;
  background-color: var(--rosa-profundo);
  color: var(--off-white);
  padding: 5px;
  line-height: 0;
  border-radius: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  top: calc(100% - 10%);
  text-align: center;
}
.journey-card {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 2em;
  border-radius: 10px;
  border: 1px solid var(--rosa-delicado);
  padding: 0 20px;
  width: fit-content;
  color: var(--cinza-grafite);
}
.journey-card figure {
  width: 60px;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: var(--rosa-profundo);
  box-shadow: none;
}

.sentimentos {
  background-color: var(--rosa-cha);
  padding: 3em;
  text-align: center;
}
.sentimentos h1 {
  font-size: 40px;
  color: var(--rosa-vinho);
}
.sentimentos-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 200px);
  list-style: none;
  justify-content: center;
  gap: 1em;
}
.sentimentos-item {
  display: flex;
  align-items: center;
  gap: 2em;
  color: #686868;
  text-align: left;
  background-color: var(--off-white);
  box-shadow: 0 10px 10px var(--rosa-delicado);
  border-radius: 10px;
  padding: 5px 20px;
}
.sentimentos-item i {
  color: var(--rosa-profundo);
  background-color: var(--rosa-cha);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 20px;
}
.sentimentos h3{
  margin-top:3em;
  color: #686868;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: italic;
}


/* Encontrar */

.encontrar {
  background-color: var(--branco);
}
.container-encontrar {
  padding: 3em 0;
  text-align: center;
  color: var(--cinza-grafite);
}
.flex-encontrar {
  display: flex;
  gap: 5em;
  text-align: left;
}
.flex-encontrar ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.flex-encontrar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-encontrar li i {
  background-color: rgb(234, 255, 234);
  color: rgb(66, 196, 66);
  padding: 10px;
  font-size: 20px;
  border-radius: 100%;
}
.flex-encontrar figure {
  width: 420px;
  margin: 0 auto;
  border-radius: 10px;
}
.flex-encontrar img {
  width: 100%;
  border-radius: inherit;
}

/* SECRETS */

.the-secrets {
  background-color: #e6ffe7;
}
.container-secrets {
  width: 100%;
  padding: 3em;
  text-align: center;
}

.secrets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 1em;
  justify-content: center;
  list-style: none;
}
.secrets-item {
  background-color: white;
  border-radius: 10px;
  padding: 3em;
  color: #6d6d6d;
  font-size: 15px;
}
.secrets-item strong {
  font-size: 20px;
}
.secrets-item i {
  background-color: rgb(234, 255, 234);
  color: rgb(66, 196, 66);
  padding: 20px;
  font-size: 50px;
  border-radius: 100%;
}

/* CTA */
.cta {
  background-color: var(--rosa-cha);
  padding: 3em;
  text-align: center;
}
.container-cta {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #6d6d6d;
  background-color: white;
}
.container-cta figure {
  width: 320px;
  height: 320px;
  border-radius: 20px;
  margin: 0 auto;
}
.container-cta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.figure-cta {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  margin-bottom: 2em;
  gap: 1em;
}
.cta a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 20px;
  background-color: var(--dourado-queimado);
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
}
#cta-1 {
  font-size: 12px;
  color: #ccc;
}
@media screen and (max-width: 920px) {
  .container-journey {
    flex-direction: column;
  }
  .flex-encontrar {
    flex-direction: column;
  }
}
